.planCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-top: 1px solid rgb(216, 216, 216);
  padding-top: 50px;
}
.planCard__container {
  display: flex;
  flex-wrap: wrap;
}
.planCard__Card {
  cursor: pointer;
  margin: 50px 20px;
  width: 250px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgb(0, 0, 0, 0.2);
}
.planCard__contents {
  display: flex;
  flex-direction: column;
}
.planCard__CardLocation,
.planCard__CardTheme {
  font-size: 15px;
  margin: 3px;
  color: rgb(82, 81, 81);
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planCard__img img {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.planCard__Name {
  font-size: 15px;
  font-weight: bold;
  margin: 3px;
  color: rgb(82, 81, 81);
  word-break: keep-all;
}
.planCard__contents p {
  margin: 3px;
}

.planCard__CardTheme img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
