.placeList__warp {
  padding: 5px;
}

.placeList__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.placeList__nav {
  margin: 0 10px 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: #5f5f5f;
  border-bottom: 1px solid #c7c7c7;
}
.placeList__list__like {
  display: flex;
  padding-top: 80px;
  padding-right: 15px;
}
.placeList__list__like img {
  display: block;
  width: 20px;
  height: 20px;
}

.placeList__content {
  display: flex;
  flex-direction: column;
  max-height: 77vh;
  flex: 1 1;
  overflow-y: scroll;
}
.placeList__content::-webkit-scrollbar {
  display: none;
}
.placeList__destination,
.planView__destination {
  cursor: pointer;
  display: flex;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 16px 0px;
}

.placeList__destination__list,
.planView__destination__list {
  display: flex;
}

.placeList__destination__list img,
.planView__destination__list img {
  width: 7rem;
  height: 5rem;
  margin: 15px;
  display: flex;
  border-radius: 5px;
}

.placeList__destination__list img:hover,
.planView__destination__list img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.placeList__list__container,
.planView__list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.placeList__list__address,
.planView__list__address {
  font-size: 0.8rem;
  color: #5f5f5f;
}
.placeList__list__content,
.planView__list__content {
  display: flex;
  font-size: 1rem;
}
.placeList__list__content img,
.planView__list__content img {
  margin-top: 6px;
  width: 14px;
  height: 14px;
}
@media screen and (max-width: 685px) {
  .placeList__contents {
    height: 50vh;
  }
}

@media screen and (max-width: 414px) {
  .mainleft_container {
    width: 100vw;
  }
  .placeList__contents {
    height: 50vh;
  }
}
