.inputList {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 5;
  height: 65%;
  right: 0;
  bottom: 0;
  animation: open 0.5s;
}
.inputList__close {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65%;
  z-index: 5;
  right: 0;
  bottom: 0;
}
.inputList__container {
  height: 100%;
  background: white;
  border-radius: 20px 0 0 20px;
  min-width: 23rem;
  overflow-y: scroll;
}
.inputList__container__close {
  display: none;
}
.inputList__warp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
}
.inputList__container::-webkit-scrollbar {
  display: none;
}
.inputList__warp::-webkit-scrollbar {
  display: none;
}
@keyframes open {
  from {
    margin-right: -15rem;
  }
  to {
    margin-right: 0rem;
  }
}
.inputList__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.inputList__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  flex: 1;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.8);
}
.inputList__date {
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: #417cff;
}
.inputList__card {
  padding: 15px;
}
.inputList__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 100%;
  width: 100%;
  position: relative;
}
.inputList__calendar {
  width: 15px;
  height: 15px;
}
.inputList__list__num {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #417cff;
  border: 3px solid #417cff;
  border-radius: 150px;
}
.inputList__list__title {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.inputList__list__delete {
  right: 0;
  position: absolute;
}
.inputList__list__delete img {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.inputList__saveBtn {
  width: 100%;
  height: 2.7rem;
  font-size: 1.2rem;
  font-weight: 550;
  text-align: center;
  color: white;
  background: #2de1de;
  border: 0;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.inputList__saveBtn:hover {
  transition: all 0.3s;
  background: #417cff;
}
.inputList__slideBtn,
.inputList__slideBtn__close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px 0 0 10px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
.inputList__slideBtn img {
  width: 25px;
  height: 25px;
}
.inputList__slideBtn__close img {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 25px;
  height: 25px;
}
