.leftsidewrap {
  display: flex;
  flex-direction: column;
}

.mainpage_top {
  background-color: #ffffff;
  display: flex;
  padding: 1rem 2rem 0.5rem 2rem;
  border-bottom: 0.2px solid silver;
}

.location {
  display: flex;
  flex: 1;
  margin: 0 2rem 0 0;
}

#controllable-states-demo {
  width: 10rem;
}

.mainleft_buttoncontainer {
  margin: 0 2rem 0 0;
  flex: 1;
  display: flex;
  flex-direction: row;
}

#tags {
  width: 5rem;
}

.searchBtn {
  margin: 0 0 0 1rem;
  flex: 0.5;
  display: flex;
}

.themeButton {
  width: 5rem;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #6698cb;
  cursor: pointer;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}
.themeButton a {
  color: #34495e;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;
  z-index: 2;
  font-size: 1rem;
}
.themeEff {
  width: 140px;
  height: 50px;
  bottom: -65px;
  position: absolute;
  margin-left: -10px;
  background-color: #6698cb;
  transition: all 0.5s ease;
  z-index: 1;
}
.themeButton:hover .themeEff {
  bottom: 0;
}
.themeButton:hover a {
  color: #fff;
}

.tooltip {
  visibility: hidden;
  width: 220px;
  background-color: orange;
  padding: 0;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 180%;
  left: 50%;
  margin-left: -110px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: orange transparent transparent transparent;
}

.place {
  height: 3.2rem;
  width: 10rem;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.place input {
  flex-basis: 70%;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 1rem;
}

.place button {
  flex-basis: 30%;
  background-color: #88b5e2;
  border: none;
  opacity: 0.8;
  font-weight: 900;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.place button:hover {
  background-color: #6698cb;
  border: none;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

@media screen and (max-width: 50rem) {
  .mainpage_top {
    flex-direction: column-reverse;
    align-items: center;
  }

  .location {
    margin-bottom: 10px;
  }
  #controllable-states-demo {
    width: 16rem;
  }
  .mainleft_buttoncontainer {
    margin-bottom: 10px;
  }
  .place {
    width: 20rem;
    padding-right: 2rem;
    margin-bottom: 10px;
  }
  .place input {
    height: 2.5rem;
  }
}

.mainpage_body {
  display: flex;
  flex-direction: row;
}

.mainleft_list {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  min-width: 20rem;
  overflow-y: scroll;
  height: 100vh;
}

.mainleft_destination {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
}

.destination_list {
  display: flex;
}

.destination_list img {
  width: 10rem;
  height: 7rem;
  margin: 0 10px;
  border-radius: 50rem;
}

.destination_list img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.list_content {
  font-size: 1.3rem;
  margin: 10px 0 0 5px;
  font-weight: bold;
  display: flex;
  min-width: 7rem;
  height: 50px;
}

#map {
  flex-basis: 70%;
  height: 100vh;
  min-width: 40rem;
}

#map::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 50rem) {
  .mainpage_body {
    flex-direction: column-reverse;
  }
}
.overlaybox {
  position: relative;
  width: 360px;
  height: 350px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png")
    no-repeat;
  padding: 15px 10px;
}
.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.overlaybox li {
  list-style: none;
}
.overlaybox .boxtitle {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png")
    no-repeat right 120px center;
  margin-bottom: 8px;
}
.overlaybox .first {
  position: relative;
  width: 247px;
  height: 136px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumb.png")
    no-repeat;
  margin-bottom: 8px;
}
.overlaybox .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffffff;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.overlaybox .close:hover {
  cursor: pointer;
}
.first .text {
  color: #fff;
  font-weight: bold;
}
.first .triangle {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/triangle.png")
    no-repeat;
  padding: 6px;
  font-size: 18px;
}
.first .movietitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 7px 15px;
  font-size: 14px;
}
.overlaybox ul {
  width: 247px;
}
.overlaybox li {
  position: relative;
  margin-bottom: 2px;
  background: #2b2d36;
  padding: 5px 10px;
  color: #aaabaf;
  line-height: 1;
}
.overlaybox li span {
  display: inline-block;
}
.overlaybox li .number {
  font-size: 16px;
  font-weight: bold;
}
.overlaybox li .title {
  font-size: 13px;
}
.overlaybox ul .arrow {
  position: absolute;
  margin-top: 8px;
  right: 25px;
  width: 5px;
  height: 3px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/updown.png")
    no-repeat;
}
.overlaybox li .up {
  background-position: 0 -40px;
}
.overlaybox li .down {
  background-position: 0 -60px;
}
.overlaybox li .count {
  position: absolute;
  margin-top: 5px;
  right: 15px;
  font-size: 10px;
}
.overlaybox li:hover {
  color: #fff;
  background: #d24545;
}
.overlaybox li:hover .up {
  background-position: 0 0px;
}
.overlaybox li:hover .down {
  background-position: 0 -20px;
}
