.mainpage_leftside {
  background-color: #f8f6f8;
  color: black;
  flex-basis: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}

.location {
  display: flex;
  height: 100px;
  margin: 5px;
  flex-direction: row;
}

.location Autocomplete {
  width: 500px;
}

.location button {
  display: inline-flex;
  flex-direction: row;
}

.place {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.place input {
  flex-basis: 70%;
}

.place button {
  flex-basis: 30%;
  background-color: #88b5e2;
  border: none;
}

.place button:hover {
  background-color: #6698cb;
  border: none;
}

.mainleft_buttoncontainer {
  width: 500px;
}

.themeButton {
  /* width: 50px; */
  height: 30px;
  margin: 4px;
  border-radius: 10px;
  border: 2px solid #6698cb;
  cursor: pointer;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.themeButton a {
  color: #34495e;
  position: relative;
  /* line-height: 50px; */
  text-decoration: none;
  transition: all 0.5s ease;
  z-index: 2;
}

.themeEff {
  width: 140px;
  height: 50px;
  bottom: -50px;
  position: absolute;
  margin-left: -10px;
  background-color: #6698cb;
  transition: all 0.5s ease;
  z-index: 1;
}
.themeButton:hover .themeEff {
  bottom: 0;
}
.themeButton:hover a {
  color: #fff;
}

.mainleft_destination {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  /* height: 100px; */
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
}

.list_img {
  flex-basis: 30%;
  border-radius: 10px;
}

.list_img img {
  width: 50px;
  height: 50px;
}

.list_content {
  width: 50px;
  height: 50px;
  flex-basis: 70%;
  margin: 10px 0 0 5px;
  font-weight: bold;
}

.list_content img {
  width: 10px;
  height: 10px;
}
