.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
}
.Paginate_li {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: 1px solid #424242;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}
.Paginate_li:hover {
  background: #417cff;
}
.Paginate_a {
  color: black;
  text-decoration: none;
}
.Paginate_a:hover {
  color: white;
}
.active {
  background: #417cff;
}

/* .next,
.pre {
  display: none;
} */
