.route__body {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  min-height: 250px;
  max-width: 70vw;
}
.route__warp {
  padding: 15px;
  position: relative;
}
.route__contents img {
  width: 100px;
  height: 100px;
  border-radius: 999px;
}
.route__contents a {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 999px;
}
.route__contents {
  display: flex;
  flex-direction: column;
}
.route__content {
  display: flex;
  justify-content: center;
}
.route__place {
  margin-top: 5px;
  font-size: 14px;
  max-width: 90px;
}
.route__arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}
.route__arrow:last-of-type {
  display: none;
}
.route__arrow img {
  width: 20px;
  height: 20px;
}
