.mainpage_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
}

@media screen and (max-width: 900px) {
  .mainpage_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
}
@media screen and (max-width: 485px) {
  .Map {
    display: none;
  }
  .mainpage_container {
    overflow-x: hidden;
  }
}
