.myPage {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.myPage__warp {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
/* .myPage__warp h1 {
  margin: 5px auto 25px;
  color: rgb(0, 0, 0, 0.75);
} */
.myPage__title {
  margin: 70px 0 0 70px;
}
.myPage__title h1 {
  margin: 5px 25px;
  color: rgb(0, 0, 0, 0.75);
  border-bottom: 1px solid #bebebe;
}
.myPage__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}
#staticMaps,
#staticMap {
  width: 600px;
  height: 450px;
  left: 0px;
  border-radius: 10px;
}
.myPage__calendar {
  margin: 20px 20px 10px;
  height: 100%;
}
.myPage__section__route {
  margin: 25px auto;
}
.myPage__section__route__title {
  margin: 50px 0 0 70px;
}
.myPage__section__route__title h4 {
  margin: 5px 25px;
  font-size: 25px;
  color: rgb(0, 0, 0, 0.75);
  border-bottom: 1px solid #bebebe;
}
.myPage__like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myPage__like__title {
  margin-left: 70px;
}
.myPage__like__title h1 {
  margin: 5px 25px;
  color: rgb(0, 0, 0, 0.75);
  border-bottom: 1px solid #bebebe;
}
@media screen and (max-width: 1260px) {
  .myPage__section {
    flex-direction: column;
  }
  .myPage__calendar {
    margin: 0;
  }
}
