.signIn {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
.signIn__modal {
  width: 30rem;
  height: 37rem;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  animation: modal-bg-show 0.7s;
}

.signIn__close {
  text-align: right;
  top: -1rem;
  font-size: 20px;
  font-weight: 600;
  color: #888;
}

.signIn__closeBtn {
  width: 20px;
  cursor: pointer;
  margin-left: auto;
}

.signIn__contents {
  margin: 0 auto;
  width: 90%;
  position: relative;
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signIn__title {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.signIn__title__img {
  width: 65%;
  height: 4.5rem;
}

.signIn__inputEmail {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border-style: none;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.7rem;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.signIn__inputEmail:focus {
  border-bottom: 1px solid #417cff;
}

.signIn__inputEmail__inValid {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border-style: none;
  border-bottom: 1px solid #f34242;
  margin-bottom: 0.2rem;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.signIn__errEmail {
  color: #f34242;
  font-size: 0.7rem;
}

.signIn__errPassword {
  color: #f34242;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.signIn__errLogin {
  color: #f34242;
  font-size: 0.7rem;
  text-align: center;
}
input::placeholder {
  color: #999999;
}

.signIn__inputPassword {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border-style: none;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.signIn__inputPassword:focus {
  border-bottom: 1px solid #417cff;
}

.signIn__inputPassword__inValid {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border-style: none;
  border-bottom: 1px solid #f34242;
  margin-bottom: 0.2rem;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.signIn__loginBtn {
  width: 100%;
  height: 2.7rem;
  font-size: 1.2rem;
  font-weight: 550;
  text-align: center;
  color: white;
  background: #2de1de;
  border: 0;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.signIn__loginBtn:hover {
  transition: all 0.3s;
  background: #417cff;
}

.signIn__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signIn__google {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 550;
  text-align: center;
  border: 1px solid #e8e8e8;
  background: white;
  color: gray;
  /* border: 0; */
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.signIn__google:hover {
  transition: all 0.3s;
  background: #fa4747;
  color: rgb(29, 29, 31);
}

.signIn__kakao {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 550;
  text-align: center;
  border: 1px solid #e8e8e8;
  background: white;
  color: gray;
  /* border: 0; */
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.signIn__kakao:hover {
  transition: all 0.3s;
  background: #ffef08;
  color: rgb(29, 29, 31);
}

.signIn__nonMember {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 550;
  text-align: center;
  border: 1px solid #e8e8e8;
  background: white;
  color: gray;
  /* border: 0; */
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.signIn__nonMember:hover {
  transition: all 0.3s;
  background: #e8e8e8;
  color: rgb(29, 29, 31);
}

.signIn__Search {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  margin-bottom: 1.6rem;
  color: #7e7e7e;
}

.signIn__emailSearch {
  margin-right: 0.5rem;
  cursor: pointer;
  border: none;
  color: #2de1de;
  background: none;
  font-size: 12px;
}

.signIn__pwSearch {
  margin-left: 0.5rem;
  color: #2de1de;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 12px;
}

.signIn__signUp {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.signIn__signUpBtn {
  margin-left: 0.8rem;
  color: #2de1de;
  cursor: pointer;
  border-bottom: 1px solid #2de1de;
}

@media (max-width: 480px) {
  .signIn__modal {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    margin-top: 0;
  }
}
