.myPage {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.myPage__warp {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.myPage__title {
  margin-top: 70px;
  width: 100%;
}
.myPage__title h1 {
  margin: 5px 90px 15px;
  color: rgb(0, 0, 0, 0.75);
  border-bottom: 1px solid #bebebe;
}
.myPage__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}
#staticMaps,
#staticMap {
  width: 600px;
  height: 450px;
  left: 0px;
  border-radius: 10px;
}
.myPage__share {
  display: flex;
  flex-direction: column;
}
.myPage__calendar {
  margin: 20px 20px 0;
}
.myPage__Btn {
  display: flex;
}
.myPage__shareBtn {
  width: 100%;
  height: 2.7rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  color: white;
  background: #3aa0f3;
  border: 0;
  margin: 1.5rem 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.myPage__shareBtn:hover {
  transition: all 0.3s;
  background: #417cff;
}

.myPage__section__route {
  margin: 25px auto;
}
.myPage__section__route__title {
  margin-top: 50px;
}
.myPage__section__route__title h1 {
  margin: 5px 90px 15px;
  color: rgb(0, 0, 0, 0.75);
  border-bottom: 1px solid #bebebe;
}
.myPage__like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myPage__like__title {
  margin-top: 40px;
}
.myPage__like__title h1 {
  margin: 5px 90px 15px;
  color: rgb(0, 0, 0, 0.75);
  border-bottom: 1px solid #bebebe;
}
@media screen and (max-width: 1260px) {
  .myPage__section {
    flex-direction: column;
  }
  .myPage__calendar {
    margin-right: 60px;
  }
}
@media screen and (max-width: 545px) {
  .myPage__title h1,
  .myPage__like__title h1,
  .myPage__section__route__title h1 {
    margin: 0;
  }
  .route__body {
    padding: 10px;
  }
  .route__warp {
    padding: 5px;
  }
}
