.MainHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  background: white;
  z-index: 10;
  position: sticky;
  width: 100vw;
}
.MyHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  background: white;
  z-index: 10;
  position: fixed;
  width: 100vw;
}

.headerLogo {
  display: flex;
  align-items: center;
  z-index: 10;
  margin-left: 20px;
}

.headerLogo img {
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.headerRightside {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.headerRightside p {
  margin-right: 10px;
  flex-wrap: nowrap;
  color: gray;
  cursor: pointer;
}
.headerRightside img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .headerLogo img {
    cursor: pointer;
    width: 120px;
    height: auto;
  }
  .headerRightside p {
    margin-right: 5px;
    font-size: 12px;
  }
}
