.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 7rem;
  color: white;
  background: gray;
}
.footer img {
  width: 110px;
  height: 35px;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact,
.member {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.contact a {
  z-index: 101;
  cursor: pointer;
  color: white;
  padding: 5px;
}
.member a {
  z-index: 101;
  cursor: pointer;
  color: white;
  padding: 2px;
}
