.inputList__saveBtn {
  width: 100%;
  height: 2.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: white;
  background: #3aa0f3;
  border: 0;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  position: sticky;
}
.inputList__saveBtn:hover {
  transition: all 0.3s;
  background: #417cff;
}
