.themeInput {
  position: absolute;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(2, 90px);
  text-align: left;
  top: 100px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.themeInput__title {
  margin-right: 2px;
}

.themeInput__off,
.themeInput__on {
  margin: 0 0 10px 15px;
  height: 40px;
  width: 75px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}
.themeInput__btn {
  margin-left: 15px;
  height: 40px;
  width: 75px;
  background: white;
  border: 1px solid #2a99f2;
  border-radius: 5px;
  color: #2a99f2;
  cursor: pointer;
  font-size: 13px;
}
.themeInput__btn:hover {
  transition: all 0.3s;
  color: white;
  background: #2a99f2;
}
