.placeInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px 10px;
}

.placeInput__input {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  width: 15rem;
}

.placeInput__Container {
  font-size: 15px;
  position: absolute;
  background: white;
  width: 300px;
  right: 0;
  left: 70px;
  top: 45px;
  z-index: 15;
  border-radius: 10px;
}
.placeInput__option {
  margin: 3px;
}
.placeInput__Img {
  overflow: hidden;
  display: inline-block;
  width: 25px;
  height: 24px;
  vertical-align: top;
  position: absolute;
  right: 30px;
  top: -32px;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .placeInput__Img {
    top: -32px;
    right: 40px;
  }
  .placeInput__Container {
    left: 40px;
    top: 45px;
  }
}

@media screen and (max-width: 320px) {
  .placeInput__Img {
    right: 100px;
  }
}
